/* Stylesheet for product details page */

.a5-details-main {
    padding: 2% 14%;
}

.a5-details-back-link {
    color: #000;
    padding: 16px 0;
    font-size: 14px;
}

.a5-details-title {
    font-size: 50px;
    margin: 0px;
}

.a5-details-oneliner {
    margin: 0px;
    padding: 10px 0;
}

.a5-details-bun-description {
    display: flex;
    margin: 20px 0;
}

.a5-details-bun-info {
    flex: 1;
}

.a5-details-bun-image {
    width: 300px;
    margin-right: 60px;
}

.a5-details-bun-available {
    font-size: 24px;
    color: #4D843A;
    margin: 0px;
}

.a5-details-bun-out-of-stock {
    font-size: 24px;
    color: #FF0303;
    margin: 0px;
}

.a5-details-bun-detail {
    display: flex;
}

.a5-details-bun-detail-dd {
    height: 40px;
}

.a5-details-bun-detail-title {
    flex: 1;
}

.a5-details-bun-detail-value {
    width: 400px;
}

.a5-details-bun-detail-type {
    padding-right: 20px;
}

.a5-details-add-to-bag-out-of-stock,
.a5-details-add-to-bag-available {
    border: 1px solid #C4C4C4;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    height: 40px;
}

.a5-details-add-to-bag-available {
    background-color: #E4B267;
    cursor: pointer;
}

.a5-details-add-to-bag-available:hover {
    background-color: #f0bc6d;
}

.a5-details-add-to-bag-out-of-stock {
    background-color: #C4C4C4;
    cursor: not-allowed;
}

.a5-details-schedule-order {
    margin: 20px 0;
}


.a5-details-bun-extra-info-row {
    display: flex;
    align-items: center;
    margin: 18px 0;
    border-bottom: 1px solid #C4C4C4;
}

.a5-details-bun-extra-info-title {
    flex: 1;
}

.a5-details-down-arrow {
    width: 20px;
    height: 20px;
}

.a5-bun-option-list {
    display: flex;
}

.a5-bun-option-row {
    width: 33%;
}

.a5-bun-option {
    border: 1px solid #C4C4C4;
    margin: 20px;
    margin-left: 0px;
}

.a5-bun-option-card {
    display: flex;
    flex-direction: column;
}

.a5-bun-image {
    width: 100%;
    height: 240px;
}

.a5-bun-info,
.a5-bun-name {
    margin: 10px 20px
}

.a5-bun-info {
    display: flex;
    align-items: baseline;
}

.a5-bun-availability,
.a5-bun-out-of-stock {
    flex: 1;
}

.a5-bun-availability {
    color: #4D843A;
}

.a5-bun-out-of-stock {
    color: #FF0303;
}